
/*************NAV BAR*************/

/* Style for the nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 174, 174);
    padding: 0px 20px;
}

nav h2 {
    color: #fff; /* White text for the title */
    font-size: x-large;
    font-weight: 500;
}


nav a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* White text color */
    padding: 5px 10px;
    font-size: 18px;
}

nav a:hover {
    background-color: #e5a3ff; /* Slightly darker green on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

/*************HOME PAGE*************/

/************* LOGIN PAGE*************/


/* Full height background color */
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the form container */
form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Label styling */
form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Input field styling */
email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styling */
form button {
    width: 100%;
    padding: 10px;
    background-color: #93cff1; /* Green background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Button hover effect */
form button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}
